{% extends 'FilmaGunea/Oinarria.html' %}

{% block title %}
    Bozkatu
{% endblock %}

{% block sidebar %}
<ul>
    <li><a href="{% url 'hasiera' %}">Hasiera</a></li>
    <li><a href="{% url 'katalogoa' %}">Katalogoa Ikusi</a></li>
    <li><a href="{% url 'zaleak' %}">Zaleak</a></li>
    <li><a href="{% url 'logout' %}">ATERA SAIOTIK</a></li>

</ul>
{% endblock %}


{% block edukia %}
<div id="bozkatu">
    <h2>Bozkatu</h2>
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="pelicula">Aukeratu Pelikula:</label>
        <select name="filma_id" id="filma_id">
            {% for filma in filmak %}
            <option value="{{ filma.id }}">{{ filma.izenburua }}</option>
            {% endfor %}
        </select>
        <button type="submit">Bozkatu</button>
    </form>
</div>
{% endblock %}

