<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />

    <style>
        title {
            font-weight: bold;
            color: blue;
        }

        #sidebar {
            float: left;
            width: 200px;
        }

        #edukia {
            margin-left: 220px;
        }
    </style>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
        {% endblock %}
    </div>
    <div id="edukia">
        {% block edukia %}{% endblock %}
    </div>
</body>
</html>
